@model IEnumerable<Carehome.Areas.Dashboard.Models.ImageSlider>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>

<div class="container-fluid pt-4 px-4">
    <div class="col-12">
        <div class="bg-secondary rounded h-100 p-4">
            <h1 class="mb-4">List Images Slider</h1>
            <div class="table-responsive">
                <p>
                    <a asp-action="Create">Create New</a>
                </p>
                <table class="table" id="myTable">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ImagePath)
                            </th>
                            <th>Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int count = 1;
                        }
                        @foreach (var item in Model)
                        {


                            <tr>
                                <th scope="row">@count</th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td style="width:150px">
                                    <img style=" border-radius: 60%" src="@Url.Content("~/"+item.ImagePath)" width="40%" />
                                </td>
                                <td>
                                    <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal-@item.Id">
                                        <i class="fas fa-trash-alt delete-icon"></i>

                                    </a>

                                    <div class="modal" id="exampleModal-@item.Id">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content"style="background-color:gray">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Image Slider</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true"></span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Are you Sure Delete  @item.Title ?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                                                        @Html.AntiForgeryToken()
                                                      
                                                        <button type="submit" class="btn btn-danger rounded-pill m-2">Delete</button>
                                                    </form>

                                                    <button type="button" class="btn btn-dark rounded-pill m-2" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   

                                    <a type="button" asp-action="Edit" asp-controller="Image" asp-area="Dashboard" asp-route-id="@item.Id" class="btn btn-info">
                                        <i class="fas fa-edit edit-icon"></i>
                                    </a>

                                </td>
                            </tr>

                            count++;
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
