@model IEnumerable<Carehome.ViewModels.UserViewModel>

@{
    Layout = "~/Areas/Dashboard/Views/Shared/_DashboardLayout.cshtml";
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>

<div class="container-fluid pt-4 px-4">
    <div class="col-12">
        <div class="bg-secondary rounded h-100 p-4">
            <h1 class="mb-4">Manage Users Roles</h1>
            <div class="table-responsive">
                <table class="table" id="myTable">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.UserName)</th>
                            <th scope="col"> @Html.DisplayNameFor(model => model.Email)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.Roles)</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int count = 1;
                        }
                        @foreach (var item in Model)
                        {
                            <tr>

                                <th scope="row">@count</th>
                                <td> @Html.DisplayFor(modelItem => item.UserName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                <td>  @string.Join(" | ", item.Roles.ToList())</td>
                                <td>
                                    <a asp-action="Manage" asp-route-id="@item.Id" class="btn btn-danger rounded-pill m-2">
                                        Manage
                                    </a>

                                </td>
                            </tr>
                            count++;
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
